---
import {Image} from 'astro:assets';
import {
    CardElementFragment,
    DisplaySettingsFragment
} from "../../../../../services/graphql/__generated/sdk";
export interface Props {
    element: CardElementFragment;
    displaySettings: DisplaySettingsFragment[];
    displayTemplateKey: string;
}
const {element, displaySettings, displayTemplateKey} = Astro.props as Props;
const imageUrl = element.CoverImage?.url.default || null;
---
{element.DisplayAs === "textOnHover" &&
<a href="#" class="group relative block bg-black h-96">
    <img
            alt=""
            src={imageUrl}
            class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
    />

    <div class="relative p-4 sm:p-6 lg:p-8">
        <p class="text-sm font-medium uppercase tracking-widest text-pink-500">{element.Heading}</p>

        <p class="text-xl font-bold text-white sm:text-2xl">{element.Subheading}</p>

        <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
                    class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
            >
                <p class="text-2xl text-white">
                    {element.OverlayText?.slice(0, 100)}...
                </p>
            </div>
        </div>
    </div>
</a>
    }
{element.DisplayAs === "textBelowCard" &&
<a href="#" class="block">
    <img
            alt=""
            src={imageUrl}
            class="h-64 w-full object-cover sm:h-80 lg:h-96"
    />

    <h3 class="mt-4 text-6xl font-bold text-gray-900">{element.Heading}</h3>

    <p class="mt-2 text-2xl max-w-sm text-gray-700">
        {element.OverlayText}
    </p>
</a>
    }
