---
import Components from '../../components/_Components.astro'
import Row from '../Row/Row.astro'
import { getSectionStyles } from './SectionHelper'
import { ContentPayload } from '../../../../../services/shared/ContentPayload'
export interface Props {
  grid: any;
  contentPayload: ContentPayload;
}
const { grid, contentPayload } = Astro.props as Props
const isSection = grid.nodeType === 'section'
const isComponent = grid.nodeType === 'component'
const styles = getSectionStyles(grid)
---

<div
  class:list={styles}
  class="relative w-full flex flex-col justify-start flex-nowrap vb:grid"
  data-epi-block-id={grid.key}
>
  {
    isSection &&
    grid.rows?.map((row: any) => (
      <Row contentPayload={contentPayload} row={row} />
    ))
  }

  {
    isComponent && (
      <div data-epi-block-id={grid.key}>
        <Components contentPayload={contentPayload} data={grid} />
      </div>
    )
  }
</div>
