---
import { Image as AstroImage } from 'astro:assets';
import type {
    DisplaySettingsFragment,
    HeroFragment,
} from '../../../../__generated/sdk';
import type { ContentPayload } from '../../../graphql/shared/ContentPayload';
import { getHeroStyles } from './HeroStyling';
import { getGlobalStyles } from '../../shared/globalStylesHelper';

export interface Props {
    data: HeroFragment;
    displaySettings: DisplaySettingsFragment[];
    contentPayload: ContentPayload;
}
const { data, displaySettings } = Astro.props as Props;
const videoUrl = data?.Video?.url?.default ?? null;
const imageUrl = (data?.Image as any)?.item?.Url || data?.Image?.url?.default || null;
const hasVideo = videoUrl !== null;
const { justifyClass, backgroundOpacityClass, textClasses, heightClass, imageFitClass } =
    getHeroStyles(displaySettings);

const globalStyles = getGlobalStyles(displaySettings);
---

<section
    class="relative flex w-full items-center"
    class:list={[justifyClass, heightClass, globalStyles]}
    
>
    {
        hasVideo && videoUrl && (
            <video
                autoplay
                loop
                muted
                playsinline
                class="absolute inset-0 h-full w-full object-cover"
                id="hero-video"
            >
                <source src={videoUrl} type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        )
    }

    {
        !hasVideo && imageUrl && (
            <AstroImage
                src={imageUrl}
                alt={(data.Image as any)?.item?.AltText || (data.Image as any)?.item?._metadata?.displayName || data.Heading || ''}
                class={`absolute inset-0 h-full w-full ${imageFitClass}`}
                id="hero-image"
                inferSize={true}
            />
        )
    }

    <!-- Dark Overlay for Better Readability -->
    <div class="absolute inset-0" class:list={backgroundOpacityClass}></div>

    <!-- Content -->
    <div class="relative z-10 px-6" class:list={textClasses}>
        <h1 class="text-5xl font-bold md:text-6xl">{data?.Heading}</h1>
        <p class="mx-auto mt-4 max-w-2xl text-lg">
            {data?.SubHeading}
        </p>
        <p
            class="mx-auto mt-4 max-w-2xl text-base text-base-content opacity-80"
            set:html={data.Body?.html}
        />

        <!-- Buttons -->
        <div class="mt-6 flex space-x-4" class:list={justifyClass}>
            {
                data?.Links?.map((link) => (
                    <a
                        href={link?.url?.default}
                        class="btn btn-neutral btn-lg"
                    >
                        {link?.text}
                    </a>
                ))
            }
        </div>
    </div>
</section>
