---
import { BlogPostPageFragment } from '../../../../../services/graphql/__generated/sdk'
export interface Props {
  data: BlogPostPageFragment;
}
const { data } = Astro.props as Props
const url = data?._metadata?.url?.default || ''
---
{
  url &&
  <article class="flex bg-white border-2 border-gray-100 transition hover:shadow-xl">
    <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
      <time
        datetime="2022-10-10"
        class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900"
      >
        <span>2022</span>
        <span class="w-px flex-1 bg-gray-900/10"></span>
        <span>Oct 10</span>
      </time>
    </div>

    <div class="hidden sm:block sm:basis-56">
      <img
        alt=""
        src={data.BlogPostPromoImage?.url?.default}
        class="aspect-square h-full w-full object-cover"
        loading="lazy"
      />
    </div>

    <div class="flex flex-1 flex-col justify-between">
      <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
        <a href={url}>
          <h3 class="font-bold uppercase text-gray-900">
            {data.Heading}
          </h3>
        </a>

        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
          {data.ArticleSubHeading}
        </p>
      </div>

      <div class="sm:flex sm:items-end sm:justify-end">
        <a
          href={url}
          class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-400"
        >
          Read Blog
        </a>
      </div>
    </div>
  </article>
  }

