---
import type { Locales } from '../../__generated/sdk';
import Footer from '../cms/shared/Footer.astro';
import Header from '../cms/shared/Header.astro';
import { getOptimizelySdk } from '../graphql/getSdk';
import type { ContentPayload } from '../graphql/shared/ContentPayload';
import '../styles/global.css';
interface Props {
    title: string;
    description: string;
    contentPayload: ContentPayload;
}

const { title, description, contentPayload } = Astro.props;
const { host } = Astro.url;
const siteSettings = await getOptimizelySdk(
    contentPayload
).siteSettingsByHostname({
    domain: host,
    locale: [contentPayload.loc as Locales],
});
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header siteSettings={siteSettings} />
        <slot />
        <Footer siteSettings={siteSettings} />
    </body>
</html>
