---
import { ClientRouter } from "astro:transitions";

import type { Locales } from '../../__generated/sdk';
import Footer from '../cms/shared/Footer.astro';
import Header from '../cms/shared/Header.astro';
import SiteStyles from "../cms/components/SiteStylesComponent/SiteStyles.astro";
import { getOptimizelySdk } from '../graphql/getSdk';
import type { ContentPayload } from '../graphql/shared/ContentPayload';
import '../styles/global.css';
interface Props {
    title: string;
    description: string;
    graphtype?: string;
    indexing?: boolean;
    contentPayload: ContentPayload;
    hierarchicalUrl?: string;
}

const { title, description, graphtype="website", indexing=false, contentPayload, hierarchicalUrl } = Astro.props;
const { host } = Astro.url;
const siteSettings = await getOptimizelySdk(
    contentPayload
).siteSettingsByHostname({
    domain: host,
    locale: [contentPayload.loc as Locales],
});

const siteStyles = await getOptimizelySdk(
    contentPayload
).siteStylesByHostname({
    domain: host,
    locale: [contentPayload.loc as Locales],
});

const canonicalUrl = Astro.url.origin + hierarchicalUrl;

const graphType = graphtype !== "-" ? graphtype : 'website';
---

<!doctype html>
<html data-theme="light" lang="en">
    <head>
        {siteStyles && <SiteStyles siteStyles={siteStyles} />}
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        {indexing && 
            <meta name="robots" content="noindex, nofollow" />
        }
        {graphType && 
            <meta property="og:type" content={graphType} />
        }
        {hierarchicalUrl && 
            <link rel="canonical" href={canonicalUrl} />
        }
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body>
        <Header siteSettings={siteSettings} />
        <slot />
        <Footer siteSettings={siteSettings} />
        
        <script>
            import Alpine from 'alpinejs';
            
            // Make Alpine available globally
            window.Alpine = Alpine;
            
            // Start Alpine
            Alpine.start();
        </script>
    </body>
</html>
