---
import type { CompositionStructureNode } from '../../../../__generated/sdk';
import type { ContentPayload } from '../../../graphql/shared/ContentPayload';
import Column from '../Column/Column.astro';
import CarouselRow from './CarouselRow.astro';
import { getRowStyles } from './RowHelper';
import { getGlobalStyles } from '../../shared/globalStylesHelper';
export interface Props {
    row: any;
    contentPayload: ContentPayload;
}
const { row, contentPayload } = Astro.props as Props;
const rowNode = row as CompositionStructureNode;
const displayTemplateKey = rowNode.displayTemplateKey;
const rowStyles = getRowStyles(rowNode);
const globalStyles = getGlobalStyles(rowNode);
const styles = [...rowStyles, ...globalStyles]
---

<!--<h2>this is a row</h2>-->
{
    displayTemplateKey !== 'CarouselRow' && (
        <div
            class="vb:row flex flex-1 flex-col flex-wrap justify-start p-1 md:flex-row"
            class:list={styles}
        >
            {row.columns?.map((column: any) => (
                <Column contentPayload={contentPayload} column={column} />
            ))}
        </div>
    )
}

{
    displayTemplateKey === 'CarouselRow' && (
        <div
            class="vb:row relative flex h-[30vh] flex-none flex-row flex-nowrap justify-start p-1 md:h-[40vh] lg:h-[50vh]"
            class:list={styles}
        >
            <CarouselRow contentPayload={contentPayload} row={row} />
        </div>
    )
}
